.wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(145deg, rgb(63, 65, 71) 0%, rgba(43, 46, 56, 1) 35%, rgba(42, 45, 55, 1) 63%, rgb(21, 24, 31) 90%);

  display: flex;
  padding-top: 50px;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
  width: 400px;
  height: 800px;
  border: 10px solid #222632;
  border-radius: 50px;
  margin: 5px;
  overflow: auto;
  position: relative;
}

.app::-webkit-scrollbar {
  width: 0;
}

/* page index */

.icons-group {
  width: 320px;

  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.btn-heart {
  position: relative;
}

.btn-heart__quantity {
  position: absolute;
  top: -8px;
  right: -6px;
  color: #ffd645;
  font-size: 12px;
}

.heart-list {
  position: fixed;
  padding: 10px;
  width: 340px;
  border-radius: 10px;
  top: 140px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.heart-list--none {
  display: none;
}

.heart-list__empty {
  padding: 40px 20px;
  font-size: 20px;
  text-align: center;
  color: #ffd645;
}

.heart-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.heart-item__empty {
  padding: 40px 20px;
  text-align: center;
  color: #ffd645;
  font-size: 14px;
  font-size: 18px;
}

.heart-item__link {
  flex-grow: 1;
  color: #ffd645;
  font-size: 14px;
}

.heart-item__img {
  width: 40px;
  margin-right: 15px;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 10px;
  border-radius: 30px;
}

.search__input {
  padding: 5px 10px;
  background-color: transparent;
  width: 0;
  /* Скрыть / показать поиск */
  color: #fff;
}

.search__input::placeholder {
  color: grey;
  font-size: 10px;
  text-transform: uppercase;
}

.nav-genre {
  top: 90px;
  margin-left: -10px;
  position: sticky;
  overflow: auto;
  border-radius: 60px 0 0 60px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.nav-genre::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.nav-genre__list {
  display: flex;
  align-items: center;
}

.nav-genre__item:first-child {
  margin-left: 10px;
}

.nav-genre__link {
  display: inline-block;
  padding: 15px 30px;
  font-size: 14px;
  color: #fff;
  position: relative;
}

.nav-genre__link::after {
  content: "";
  position: absolute;
  border-radius: 60px;
  top: 0;
  left: -10px;
  right: -20px;
  bottom: 0;
}

.nav-genre__link:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-genre__link.active::after {
  background-color: rgba(255, 214, 69, 0.5);
}

.main-menu {
  position: sticky;

  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50px;

  width: 360px;

  top: 660px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.main-menu__link.active svg,
.main-menu__link svg:hover {
  fill: #ffd645;
}

svg {
  pointer-events: none;
}

.films {
  position: relative;
  max-width: 280px;
  margin: 0 auto;
  min-height: 100%;
}

.films::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -50px;
  width: 45px;
  min-height: 100%;
  background-image: url('./../img/right-bg.png');
}

.films::after {
  content: '';
  position: absolute;
  top: 0px;
  right: -50px;
  width: 45px;
  min-height: 100%;
  background-image: url('./../img/left-bg.png');
}

.film {
  position: relative;
  margin-bottom: 10px;
  /* border: 1px solid red; */
  overflow: hidden;
}

.film__img {
  position: relative;
  pointer-events: none;
}

.film__img img {
  border-radius: 60px;
  pointer-events: none;
  object-fit: cover;
  object-position: center;
  width: 280px;
  height: 400px;
}

.film__img::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  border-radius: 0 0 60px 60px;
  background: rgb(34, 39, 50);
  background: linear-gradient(180deg, rgba(34, 39, 50, 0.4) 0%, rgba(48, 51, 57, 0.6) 70%);
}

.film__rating {
  position: absolute;
  top: 40px;
  left: 30px;
  font-size: 10px;
  padding: 6px 10px;
  border-radius: 10px;
  background-color: #ffd645;
  pointer-events: none;
}

.film__link {
  color: #fff;
  font-weight: 500;
  font-size: 18px;

  position: absolute;
  left: 30px;
  bottom: 60px;

  cursor: pointer;
}

.film__genre {
  color: #fff;
  font-size: 12px;
  position: absolute;
  left: 30px;
  bottom: 30px;
  pointer-events: none;
}

.film__empte {
  text-align: center;
  color: #ffd645;
  font-size: 24px;
  padding-top: 100px;
}

.app-film {
  background-color: #151618;
}

.player {
  position: relative;
  height: 450px;
}

/* ///////////////////////////////////////// */
.player__prev {
  position: relative;
  z-index: 5;
  /* display: none; */
}

.player__img {
  top: -25px;
  left: 0;
  right: 0;
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: top;
}

.player-gradinet {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(48, 52, 63, 0.2) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 1) 100%);
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2);

  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
}

.player__genre {
  padding: 15px 15px;
  border-radius: 120px;
  position: absolute;
  top: 60%;
  left: 20px;

  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(48, 52, 63, 0.8);
}

.player__genre span {
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
}

.player__title {
  position: absolute;
  left: 20px;
  bottom: 100px;
  font-size: 24px;
  color: #fff;
}

.player__trailer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}

.player__info {
  z-index: 5;
  position: absolute;
  display: flex;
  gap: 30px;
  font-size: 12px;
  color: #000;
  bottom: 40px;
  left: 20px;
}

.player__info-imdb {
  padding: 10px;
  background-color: #ffd645;
  border-radius: 10px;
  font-weight: 600;
}

.player__info-time {
  padding: 10px 10px 10px 20px;
  color: #fff;
  position: relative;
}

.player__info-date {
  padding: 10px 10px 10px 20px;
  color: #fff;
  position: relative;
}

.player__info-time::before,
.player__info-date::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 12px;
  height: 12px;
}

.player__info-time::before {
  background-image: url('./../img/clock.svg');
}

.player__info-date::before {
  background-image: url('./../img/calendar3.svg');
}

.film-tabs {
  position: relative;
  top: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(180deg, rgba(21, 22, 24, 0.6) 0%, rgba(21, 22, 24, 1) 100%);
  z-index: 7;
}

.film-tab {
  background-color: #30343f;
  color: #fff;
  width: 110px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
}

.film-tab.active,
.film-tab:hover {
  color: #000;
  background-color: rgb(202, 202, 202);
}

.film-tab__wrapper {
  margin: -15px 0 15px;
  height: 200px;
  overflow: auto;
}

.film-tab__wrapper::-webkit-scrollbar {
  width: 0;
}

.film-tab__about {
  padding: 10px 20px;
  color: rgb(202, 202, 202);
  letter-spacing: 1px;
  font-size: 14px;
  position: relative;
}

.film-tab__about::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.film-tab__cast {
  color: #ffd645;
}

.film-tab__photo {
  color: #ffd645;
}

.hidden {
  display: none;
}

.film-reserve {
  position: absolute;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: linear-gradient(135deg, #151618, #222632, #ffd645);
  background-size: 200% 200%;

  color: #dfdfdf;
  border-radius: 15px;
  width: 340px;
  margin: 0 auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.film-reserve:hover {
  -webkit-animation: Animation 5s ease;
  -moz-animation: Animation 5s ease;
  animation: Animation 5s ease;
}


@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%
  }

  100% {
    background-position: 91% 100%
  }

  100% {
    background-position: 10% 0%
  }
}

@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%
  }

  50% {
    background-position: 91% 100%
  }

  100% {
    background-position: 10% 0%
  }
}

@keyframes Animation {
  0% {
    background-position: 10% 0%
  }

  50% {
    background-position: 91% 100%
  }

  100% {
    background-position: 10% 0%
  }
}

.cast {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.cast__img {
  width: 125px;
  height: 125px;
  margin-bottom: 5px;
}

.cast__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.cast__title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}

.cast__title div {
  margin-bottom: 5px;
  font-size: 16px;
  color: #dfdfdf;
}

.photo {
  text-align: center;
  padding: 20px;
}

.photo img {
  margin-bottom: 10px;
}

.heart {
  fill: red;
  stroke: red;
}

iframe {
  margin: 0 auto;
  width: 380px;
  height: 214px;
}



.screen {
  margin: 70px auto 30px;
  width: 360px;
}

.screen__name {
  margin-bottom: 30px;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.hall {
  margin: 0 auto 30px;
  max-width: 340px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.hall__left,
.hall__center,
.hall__right {
  width: 90px;
}

.hall__left {
  text-align: right;
}

.left__row,
.center__row,
.right__row {
  margin-bottom: 10px;
}

.hall__center {
  text-align: center;
}

.hall__right {
  text-align: left;
}

.bi-circle-fill {
  fill: rgb(226, 226, 226);
}

.bi-circle-fill.reserv {
  fill: #ffd645;
}

.bi-circle-fill.block {
  fill: #5f5f5f;
}

.reserv-btn:disabled {
  cursor: not-allowed;
}

.reserv-info__block svg {
  fill: #5f5f5f;
}

.reserv-info__empty svg {
  fill: rgb(226, 226, 226);
}

.reserv-info__reserv svg {
  fill: #ffd645;
}

.reserv-info {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.reserv-info__block,
.reserv-info__empty,
.reserv-info__reserv {
  flex: 0 1 90px;
}

.reserv-info__text {
  margin-top: 10px;
  display: block;
  color: rgb(226, 226, 226);
  font-size: 12px;
}

.session {
  margin: 0 auto 50px;
  max-width: 340px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.session__info,
.session__select {
  /* flex: 0 0 50%; */
  width: 170px;
  height: 82px;
  padding: 20px;
  border-radius: 15px;
  color: #e8e8e9;
  background: linear-gradient(145deg, rgba(31, 33, 34, 1) 0%, rgba(45, 47, 51, 1) 100%);
}

.session__select {
  overflow: auto;
}

.session__select::-webkit-scrollbar {
  width: 0;
}

.session__info-data,
.session__select-title {
  margin-bottom: 10px;
  font-size: 12px;
}

.session__info-time {
  font-size: 14px;
}

.session__select-seat {
  font-size: 16px;
  font-weight: 700;
  /* white-space: nowrap;
  overflow: auto; */
}

.buy-info {
  max-width: 340px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.price {
  /* width: 75px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.price__text {
  font-size: 14px;
  color: #e8e8e9;
  margin-bottom: auto;
}

.price__total {
  font-size: 24px;
  font-weight: 500;
  color: #e8e8e9;
}

.buy-ticket {
  padding: 25px;
  border-radius: 20px;
  width: 200px;
  background-color: rgb(255, 214, 69);
  color: #000;
  transition: background-color 0.25s ease;
  box-shadow: 1px 3px 40px #ffd645;
}

.buy-ticket:hover {
  background-color: #ffce1d;
}

.popup {
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 214, 69, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup.popup-active {
  display: flex;
}

.popup__wrapper {
  font-weight: 500;
  padding: 40px 30px;
  background-color: #000;
  border-radius: 15px;
  color:#fff
}


.popup__content {
  margin-bottom: 15px;
  display: flex;
}

.popup__title {
  min-width: 100px;
}

.form {
  margin-top: 40px;
}

.form__name,
.form__email {
  display: block;
  margin-bottom: 15px;
  border: 1px solid #f0f0f0 ;
  padding: 10px;
  border-radius: 10px;

}
.form__name span,
.form__email span {
  display: inline-block;
  min-width: 65px;
}

.form__name input,
.form__email input {
  width: 150px;
}

.form__submit {
  color: #ffd645;
  border: 1px solid #ffd645;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;  
  transition: color 0.25s ease, background-color 0.25s ease;
  margin-bottom: 15px;
}

.form__submit:hover {
  color: #000;
  background-color: #ffd645;
}

.form__cancel {
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;  
  transition: color 0.25s ease, background-color 0.25s ease;
}

.form__cancel:hover {
  color: #000;
  background-color: #f0f0f0;
}